<link rel="stylesheet" href="{{ "APlayer.min.css" | relURL }}">
<script src="{{ "APlayer.min.js" | relURL }}"></script>

<!-- 创建一个容器用于放置播放器 -->
<div id="aplayer"></div>

<!-- 初始化 APlayer -->
<script>
    var ap = new APlayer({
        container: document.getElementById('aplayer'),
        autoplay: false,
        loop: 'all',
        order: 'list',
        preload: 'auto',
        volume: 0.7,
        listFolded: false,
        listMaxHeight: 90,
        audio: [
            {
                name: 'Cover-猜不透',
                artist: '橙味沙士',
                url: '/audio/01.mp3',
               cover: '/img/10001.jpg',
            },
            // 添加更多音频项目...
   	{
                name: 'Cover-世间美好与你环环相扣',
                artist: '心心',
                url: '/audio/02.mp3',
               cover: '/img/10000.jpg',
            },
        ]
    });
</script>

